node_modules/
.next/
dist/
build/
coverage/

.env
.env.*
!.env.example

.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

*.dump
*.sql
dump.rdb

.cache/
.turbo/
.vercel/
.idea/
.vscode/

auth-test/node_modules/
core-test/node_modules/
communication-notification-service-test/node_modules/

auth-test/dist/
core-test/dist/
communication-notification-service-test/dist/

auth-test/build/
core-test/build/
communication-notification-service-test/build/
